/* Main Waybar Window */
window#waybar {
    font-family: "SauceCodePro Nerd Font";
    background-color: rgba(0 ,0 ,0 ,0);
    opacity: 1;
    font-size: 1.1rem;
    font-weight: bold;
    /*font-style: oblique;*/
}


/* Left Side Modules */
.modules-left {
  margin-top: 0.5em;
  margin-bottom: 0.5rem;
  margin-left: 0.5em;
  opacity: 0.9;
  background-color: rgba(0,0,0,1);
  border-radius: 0.7rem;
  color: snow;
  /*border: 2px;*/
  /*border-style: solid;*/
  /*border-color: rgba(39, 209, 256, 0.8);*/
}


 /* Center Modules */
.modules-center {
  margin-top: 0.5em;
  margin-bottom: 0.5rem;
  margin-right: 100px;
  opacity: 0.9;
  /*background-color: rgba(0,0,0,1);*/
  background-color: black;
  border-radius: 0.7rem;
  padding: 2px;
  color: snow;
  /*border: 2px;*/
  /*border-style: solid;*/
  /*border-color: red;*/
}


/* Right Side Modules */
.modules-right {
  margin-top: 0.35em;  /* Floating */
  margin-bottom: 0.5rem;
  margin-right: 0.35em;
  opacity: 0.9;
  background-color: rgba(0,0,0,1);
  border-radius: 0.7rem;
  padding: 10px;
  color: snow;
}

/* SwayNC */
#custom-notification {
  font-family: "NotoSansMono Nerd Font";
  margin-right: 5px;
}

#window {
  padding: 8px;
}

